.backdrop {
  width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 20;

  background-color: rgba(0,0,0,0.75);
}

.modal {
  width: 50vw;
  position: relative;
  left: 25vw;
  top: 25vh;
  padding: 1.5rem;
  position: fixed;
  z-index: 21;

  border-radius: 1rem;
  background-color: white;
}